@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  color: rgb(var(--foreground));
  background: #020617;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
