@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  color: white;
  background-color: #020617;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
